<p>
  <mat-toolbar color="primary" class="mat-elevation-z8">  <!-- class is for shadow-->
    <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">eco
    </button> -->    
    <span><mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>CRUD Application</span>
    <span class="example-spacer"></span>
    <a mat-button routerLink="admin">Admin</a>
    <a mat-button routerLink="dashboard">Dashboard</a>
    <a mat-raised-button  routerLink="login" color="accent">Login</a>
    <a mat-button routerLink="about">About us</a>
    <!-- <button mat-raised-button (click)="openAddEditEmpForm()" >Add/Edit Employee</button> -->
  </mat-toolbar>
</p>

<router-outlet></router-outlet>